.curriculo {
    display: flex;
    position: fixed;
    right: 60px;
    top: 60px;
    margin: 0px;
    z-index: 200;

}

.btn {
    background-color: #D0850C;
    margin: 60px auto;
    border-radius: 10px;
    display: flex;

}

.button_slide a {
    color:#D0850C;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing:.5px;
	border-radius: 3px;
    background-position: center;

    
}

.button_slide a:hover {
    color:#055BA8;
}
.button_slide {
    color: #FFF;
    border: 2px solid #D0850C;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D0850C;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 20px;
  }

  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D0850C;
  }

  @media (max-width: 1100px) {
    .curriculo {
        top: 20px;
        right: 20px;
    }
  }

  @media (max-width: 700px) {
    .curriculo {
        left: 10px;
        right: auto;
        top: 20px;
    }
    .button_slide {
        color: #FFF;
        border: 2px solid #D0850C;
        border-radius: 0px;
        padding: 8px 20px;
        display: inline-block;
        font-size: 10px;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #D0850C;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
        border-radius: 20px;
    }
    
  }