#logoInicio {
  display: flex;
  justify-content: start;
  padding-left: 5%;
  
}


@media (max-width: 1100px) {
  #logoInicio  img{
      width: 150px;
      
  }
  #logoInicio {
      display: flex;
      justify-content: center;
      
  }
}
